*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;

}
/* this is header section */
#headersection{
    width: 100vw;
    height: 150vh;
    border: 2px solid black;
    position: relative;
}
#header-navbar{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 2px solid black;
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
}
#header-nav-icon{
    border: 2px solid black;
    
}

#header-nav-names{

    border: 2px solid black;
}
#header-nav-icon>a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    
}
#header-nav-names>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.97);
    padding: 20px;
}
#header-nav-icon>a:hover{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.983);
}
#header-nav-names>a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
#iconbook{
    background-color: rgb(255, 165, 0);
    border-radius: 50%;
    
}
#downloadbutton{
    border: 5px solid rgba(255, 0, 0, 0.99);
    padding: 10px 30px 10px 30px;
    border-radius: 30px 30px 30px 30px;

}
#header-background-image{
    width: 100vw;
    height: 80vh;
    border: 2px solid black;
    background-image: url("./images/businessman-sitting-by-table-cafe\ \(1\).jpg"); 
    background-size: 100% 90%;
    background-repeat: no-repeat;
    filter: brightness(0.6); 
    clip-path: polygon(0 0, 120% 0, 0 180%, 0 0);

}
#header-reviews-images{
    border: 2px solid black;
    width: 50vw;
    height: 15vh;
    background-color: rgb(255, 165, 0);

    
}
#header-small-review-imgs1,#header-small-review-imgs2,#header-small-review-imgs3,#header-small-review-imgs4{
    border-radius: 50%;
    border: 10px solid white;
    margin-left: 45px;
} 
#header-small-review-imgs2,#header-small-review-imgs3,#header-small-review-imgs4{
    margin-left: -17px;
} 
.header-imgbooks{
    border: 2px solid black;
    width: 40vw;
    margin-left: 30%;
    margin-top:-500px;
    position: absolute;
    top: 850px;
}
.header-headings{
    border: 2px solid black;
    width: 20vw;
    position:absolute;
    top: 400px;
    margin-left: 200px;
    font-size: 1.5rem;
}
#headings-h1tag{
    color:white
}
a {
    text-decoration: none;
    color: white;

}

.anchortag {

    margin: 15px;
    padding: 20px;
    margin-left: -10px;

}

#anchortag1 {
    background-color: orange;
    padding: 10px;
    border-radius: 50px;
}

#anchortag2:hover {
    color: red;
    text-decoration: underline;
}
